/vendor
/node-app
/node_module

/wallet-adapter-app/*
!/wallet-adapter-app/packages/
/wallet-adapter-app/packages/*
!/wallet-adapter-app/packages/starter/
/wallet-adapter-app/packages/starter/*
!/wallet-adapter-app/packages/starter/create-react-app-starter/
/wallet-adapter-app/packages/starter/create-react-app-starter/*
/wallet-adapter-app/packages/starter/create-react-app-starter/node_modules/*
!/wallet-adapter-app/packages/starter/create-react-app-starter/
!/wallet-adapter-app/packages/starter/create-react-app-starter/build
!/wallet-adapter-app/packages/starter/create-react-app-starter/src
!/wallet-adapter-app/packages/starter/create-react-app-starter/public
!/wallet-adapter-app/packages/starter/create-react-app-starter/package.json
!/wallet-adapter-app/packages/starter/create-react-app-starter/config-overrides.js
!/wallet-adapter-app/packages/starter/create-react-app-starter/build_backups